*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f0f4f5;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:70px;
}
.logo{
    width:120px;
    padding-top:5px;
} 
.atags{
    display: flex;
    flex-direction: row;
    gap:40px;
    padding-right: 80px;
}
.atags a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    height:80vh;
}
.details{
    width:50%;
    text-align: center;
}
.details h1{
   font-size: 40px;
   color: #3eb86d;

}
.para{
    padding:30px 0px;
    font-weight: 600;
}
.counts{
    display: flex;
    gap:20px;
}
.small{
    width:200px;
    text-align: center;
    padding:10px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

} 
.small p{
    font-weight: 600;
}
.small h1{
    font-size: 30px;
}