*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   overflow: hidden;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.nav{
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
}
img{
    height:200px;

}
a{
    text-decoration: none;
    padding:20px
}
button{
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    width: fit-content;
}
button:hover {
    background-color: white;
    color: rgb(18, 155, 155);
    border: 1px solid black;
  }
  input{
    padding:4px 10px
  }
  .logo{
    font-weight: 700;

  }
  main{
    display:flex;
    justify-content: space-around;
  }
  .main-left{
    width:40%;
    padding-top: 20px;
  }
h1 span{
    font-weight: 900;
    color:rgb(18, 155, 155);
    background-color: #dfdfe0;
    padding:0 10px
}
h1{
    font-size: 30px;
    font-weight: 700;
}
p{
    font-weight: 700;
}
p span{
    font-weight:900 ;
    color:rgb(18, 155, 155);
}
.imge button{
    display: flex;
    align-items: center;
    gap: 30px;
}
.imge{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
footer ul{
    display: flex;
    align-items: center;
   gap: 30px;
   
}