*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@200&display=swap');

body{
    background-color:#16242c;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
footer{
    color: white;
    font-weight: 600;
   margin:10px;
}
footer img{
    width:20px;
    margin: 10px 0px;
} 
.main-div1>img{
    width:20px;
    height: 20px;
}
.mark{
    font-size: 30px;
    
}
.dev{
    color: rgb(200, 205, 50);

}
img{
    width:100px;
}
.pc-img{
    width:250px;
}
section{
    color:white;
    font-weight: 600;

}
u{
    text-decoration-color: blue;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink:none ;
}

@media screen and (min-width:600px){
    nav img{
        display:none;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap:20px;
        padding: 10px;
        padding-right: 40px;
    }
    nav button{
        padding:10px;
        color: white;
        background-color: rgb(97, 33, 225);
        border-radius: 20px;
        font-weight: 600;
        border: none;
        font-family: 'Inter', sans-serif;
    }
    nav button:hover{
        cursor: pointer;
        color: blue;
        background-color: #ffffff;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
    .main-div1{
        display: flex;
        color:white;
        font-weight: 700;
        text-align:start;
    }
   
   
    
    section>.project-main{
        width:300px;
        margin:auto;
       display: grid;
       grid-template-columns: repeat(2,150px);
    }
    .main-div1 span{
        position: relative;
        right:15px;
    }

    
}
@media screen and (max-width:600px){
  nav a{
    display: none;
  }
  nav button{
    display: none;
  }
  nav img{
    width:20px;
    position: fixed;
    top:1px;
    left:1px;
  }
  main{
   margin: 40px 0px;;
  }
  .main-div1{
    color: white;
    font-weight: 700;
  }
  .pc-img{
    margin: 10px 0px;
  }

}